@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-stack-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-stack-serif: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article h2 {
  font-size: 1.5em;
  margin-bottom: 1.125rem;
  font-weight: bold;
}
article p {
  font-family: var(--font-stack-serif);
  font-size: 1.125rem;
  line-height: 1.5;
  margin-bottom: 1em;
}

/** Responsive Table Styling!? */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  margin-bottom: 1.5em;
}

tr {
  border-bottom: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 0.33em 0.5em;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

thead tr:first-child {
  background-color: rgba(255,250,250,1);
}

td::before {
  display: none;
}

/* hack for simple vertical table layout on skinny screens */
@media screen and (max-width: 1000px) {
  tr:nth-child(odd)    { background-color: transparent; }
  tr:nth-child(even)   { background-color: transparent; }
  thead tr:first-child { background-color: transparent; }

  table {
    border: 0;
    display: block;
    box-shadow: none;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }

  tr {
    border-top: 2px solid;
    display: block;
  }

  td {
    border-bottom: 1px solid #3c3c3b;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  td:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  td:nth-child(even) {
    background-color: rgba(255,250,250,1);
  }

  td:first-child {
    background-color: transparent;
    padding-top: .75em;
    font-weight: bold;
    flex-wrap: wrap;
  }

  td::before {
    display: inline-block;
    margin-right: auto;
    padding-right: 1em;
  }

}