@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-stack-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --font-stack-serif: 'EB Garamond', Garamond, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

article h2 {
  font-size: 1.5em;
  margin-bottom: 1.125rem;
  font-weight: bold;
}
article p,
article h3,
article address,
article section ul,
article section strong,
article section section h2 {
  font-family: var(--font-stack-serif);
  margin-bottom: 1em;
}
article h3,
article section section h2 {
  font-weight: bold;
}
article section > p:first-of-type {
  @apply text-[1.25em];
}


/** Responsive Table Styling!? */
table {
  border-collapse: collapse;
  width: 100%;
  font-family: sans-serif;
  margin-bottom: 1.5em;
}

tr {
  border-bottom: 1px solid black;
}

th,
td {
  text-align: left;
  padding: 0.33em 0.5em;
}

tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.15);
}

tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

thead tr:first-child {
  background-color: rgba(255,250,250,1);
}

td::before {
  display: none;
}

/* hack for simple vertical table layout on skinny screens */
@media screen and (max-width: 1000px) {
  tr:nth-child(odd)    { background-color: transparent; }
  tr:nth-child(even)   { background-color: transparent; }
  thead tr:first-child { background-color: transparent; }

  table {
    border: 0;
    display: block;
    box-shadow: none;
  }

  thead {
    display: none;
  }

  tbody {
    display: block;
    width: 100%;
  }

  tr {
    border-top: 2px solid;
    display: block;
  }

  td {
    border-bottom: 1px solid #3c3c3b;
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
  }

  td:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.15);
  }

  td:nth-child(even) {
    background-color: rgba(255,250,250,1);
  }

  td:first-child {
    background-color: transparent;
    padding-top: .75em;
    font-weight: bold;
    flex-wrap: wrap;
  }

  td::before {
    display: inline-block;
    margin-right: auto;
    padding-right: 1em;
  }
}

/** blockquote styles for testimonails page **/
blockquote {
  border-left: .25em solid rgba(204,102,153,1);
  margin-left: 0;
  margin-right: -1em;
  margin-bottom: 2em;
  padding-left: 1em;
  padding-right: 1.5em;
  font-family: var(--font-stack-serif);
  position: relative;
  display: block;
  z-index: 2;
  overflow: hidden;
}
@media (min-width: 768px) {
  blockquote {
    overflow: visible;
  }
}

/* Blockquote right double quotes */
blockquote:after {
  position: absolute;
  content: "â€";
  font-size: 40rem;
  line-height: .5;
  top: .07em;
  right: -.125em;
  z-index: -1;
  opacity: .1;
  font-family: var(--font-stack-sans);
}

/** style address plain, no italics **/
address {
  font-style: normal;
}
/* custom nav addition */
/* medium widths? */
@media (min-width: 768px) {
  #mainMenu ul li:nth-child(3n) {
    border-right: none;
  }
}

article section.flex {
  @apply flex-col;
}

/***********************************/

@media (min-width: 768px) {
  .gallery article {
    @apply mx-4;
  }
  article section.flex {
    @apply flex-row flex-wrap;
  }
  article section.flex > div {
    @apply flex-[auto] w-6/12;
  }
}

@media (min-width: 1100px) {
  .gallery article {
    @apply mx-8;
  }
}

@media (min-width: 1400px) {
  .gallery article {
    @apply mx-16;
  }
  article section.flex > div {
    @apply flex-1 w-auto;
  }
}

/* addendum logos on credentials */
.img-group {
  @apply border-b-[color:var(--kp-purple)] border-t-[color:var(--kp-purple)] mb-[2em] pt-[1em] pb-[0.5em] border-b border-solid border-t;
}
.img-group a {
  @apply block max-w-[250px] min-w-[150px] mr-[3em];
}
.img-group a img {
  @apply max-w-full;
}
